# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# Plans
*.tfplan
tfplan.binary
tfplan.json

# Variables
*.auto.tfvars

# Logs
*.log

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini